<!DOCTYPE html>
<html lang="en">

<head>
	<% include includes/head %>
	<style>
		* {
			color: white;
		}

		.container-fluid {
			padding: 0;
		}

		.jumbotron {
			height: 100vh;
			margin: 0;
			padding-top: 38vh;
			background: rgb(140, 4, 101);
			background: linear-gradient(142deg, rgba(140, 4, 101, 1) 0%, rgba(201, 43, 174, 1) 45%, rgba(253, 45, 217, 1) 100%);
		}
	</style>
</head>

<body class="container-fluid">
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Dzindr</h1>
            <p>Voulez-vous voyager avec de nouveaux amis ? Trouvez les maintenant</p>
			<% if (login) { %>
				<a href="/mon-compte" class="btn btn-success">Mon Compte <i class="far fa-user-circle"></i></a>
				<a href="/logout" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i></a>
			<% } else { %>
				<a href="/signup" class="btn btn-success">S'inscrire</a>
				<a href="/login" class="btn btn-danger">Se connecter</a>
			<% } %>
		</div>
	</div>
</body>

</html>